In [1]:
import requests
import json
from dotenv import load_dotenv
import os
import pandas as pd
load_dotenv()
import src.FuncionesAPI as fa
from functools import reduce
import operator
from pandas import json_normalize
import numpy as np

## API CALL

In [2]:
url_query = 'https://api.foursquare.com/v2/venues/explore'

In [3]:
queries_vegan = ["Vegan Restaurant"]
queries_nursery = ["Nursery School"]
queries_bar = ["Nightclub"]
queries_taxi = ["Taxi Stand"]
queries_basket = ["Basketball Court"]
queries_starbucks = ["Starbucks"]

In [4]:
tok1= os.getenv("Client_Id")
tok2= os.getenv("Client_Secret")

## SAN FRANCISCO

In [5]:
san_francisco_vegan = fa.get_data(37.788668, -122.400558,url_query,*queries_vegan)

san_francisco_nursery = fa.get_data(37.788668, -122.400558,url_query,*queries_nursery)

san_francisco_bar = fa.get_data(37.788668, -122.400558,url_query,*queries_bar)

san_francisco_taxi = fa.get_data(37.788668, -122.400558,url_query,*queries_taxi)

san_francisco_basket = fa.get_data(37.788668, -122.400558,url_query,*queries_basket)

san_francisco_starbucks = fa.get_data(37.788668, -122.400558,url_query,*queries_starbucks)

In [7]:
san_francisco_vegan = san_francisco_vegan.get("Vegan Restaurant").get("response").get("groups")[0].get("items")
san_francisco_nursery = san_francisco_nursery.get("Nursery School").get("response").get("groups")[0].get("items")
san_francisco_bar = san_francisco_bar.get("Nightclub").get("response").get("groups")[0].get("items")
san_francisco_taxi = san_francisco_taxi.get("Taxi Stand").get("response").get("groups")[0].get("items")
san_francisco_basket = san_francisco_basket.get("Basketball Court").get("response").get("groups")[0].get("items")
san_francisco_starbucks = san_francisco_starbucks.get("Starbucks").get("response").get("groups")[0].get("items")

### Creating dataframes

In [8]:
df_SF_vegan = fa.crear_dataframe(san_francisco_vegan)
df_SF_vegan = (df_SF_vegan.assign(categoria= "vegan"))

In [9]:
df_SF_nursery = fa.crear_dataframe(san_francisco_nursery)
df_SF_nursery = (df_SF_nursery.assign(categoria= "nursery"))

In [10]:
df_SF_bar = fa.crear_dataframe(san_francisco_bar)
df_SF_bar = (df_SF_bar.assign(categoria= "bar"))

In [11]:
df_SF_taxi = fa.crear_dataframe(san_francisco_taxi)
df_SF_taxi = (df_SF_taxi.assign(categoria= "taxi"))

In [12]:
df_SF_basket = fa.crear_dataframe(san_francisco_basket)
df_SF_basket = (df_SF_basket.assign(categoria= "basket"))

In [13]:
df_SF_starbucks = fa.crear_dataframe(san_francisco_starbucks)
df_SF_starbucks = (df_SF_starbucks.assign(categoria= "Starbucks"))

### Concatenate dataframes

In [14]:
df_concat_sf =  pd.concat([df_SF_vegan,df_SF_nursery,df_SF_bar,df_SF_taxi,df_SF_basket,df_SF_starbucks], ignore_index=True)

In [15]:
df_sanfrancisco = fa.clean_dataframes(df_concat_sf,"San_Francisco")
df_sanfrancisco

categoria      Starbucks  bar  basket  nursery  taxi  vegan
San_Francisco         50   49      24        8     5     20

## LOS GATOS

In [16]:
los_gatos_vegan = fa.get_data(37.25142, -121.9686878,url_query,*queries_vegan)

los_gatos_nursery = fa.get_data(37.25142, -121.9686878,url_query,*queries_nursery)

los_gatos_bar = fa.get_data(37.25142, -121.9686878,url_query,*queries_bar)

los_gatos_taxi = fa.get_data(37.25142, -121.9686878,url_query,*queries_taxi)

los_gatos_basket = fa.get_data(37.25142, -121.9686878,url_query,*queries_basket)

los_gatos_starbucks = fa.get_data(37.25142, -121.9686878,url_query,*queries_starbucks)

In [17]:
los_gatos_vegan = los_gatos_vegan.get("Vegan Restaurant").get("response").get("groups")[0].get("items")
los_gatos_nursery = los_gatos_nursery.get("Nursery School").get("response").get("groups")[0].get("items")
los_gatos_bar = los_gatos_bar.get("Nightclub").get("response").get("groups")[0].get("items")
los_gatos_taxi = los_gatos_taxi.get("Taxi Stand").get("response").get("groups")[0].get("items")
los_gatos_basket = los_gatos_basket.get("Basketball Court").get("response").get("groups")[0].get("items")
los_gatos_starbucks = los_gatos_starbucks.get("Starbucks").get("response").get("groups")[0].get("items")

### Creating dataframes

In [18]:
df_gatos_vegan = fa.crear_dataframe(los_gatos_vegan)
df_gatos_vegan = (df_gatos_vegan.assign(categoria= "vegan"))

In [19]:
df_gatos_nursery = fa.crear_dataframe(los_gatos_nursery)
df_gatos_nursery = (df_gatos_nursery.assign(categoria= "nursery"))

In [20]:
df_gatos_bar = fa.crear_dataframe(los_gatos_bar)
df_gatos_bar = (df_gatos_bar.assign(categoria= "bar"))

In [21]:
df_gatos_taxi = fa.crear_dataframe(los_gatos_taxi)
df_gatos_taxi = (df_gatos_taxi.assign(categoria= "taxi"))

In [22]:
df_gatos_basket = fa.crear_dataframe(los_gatos_basket)
df_gatos_basket = (df_gatos_basket.assign(categoria= "basket"))

In [23]:
df_gatos_starbucks = fa.crear_dataframe(los_gatos_starbucks)
df_gatos_starbucks = (df_gatos_starbucks.assign(categoria= "Starbucks"))

### Concatenate dataframes

In [24]:
df_concat_gatos =  pd.concat([df_gatos_vegan,df_gatos_nursery,df_gatos_bar,df_gatos_taxi,df_gatos_basket,df_gatos_starbucks], ignore_index=True)

### Cleaning dataframes

In [25]:
df_los_gatos = fa.clean_dataframes(df_concat_gatos,"Los_Gatos")
df_los_gatos

categoria  Starbucks  bar  basket  nursery  taxi  vegan
Los_Gatos         64   23      43       11     3     58

## LOS ANGELES

In [26]:
los_angeles_vegan = fa.get_data(34.085749, -118.343791,url_query,*queries_vegan)

los_angeles_nursery = fa.get_data(34.085749, -118.343791,url_query,*queries_nursery)

los_angeles_bar = fa.get_data(34.085749, -118.343791,url_query,*queries_bar)

los_angeles_taxi = fa.get_data(34.085749, -118.343791,url_query,*queries_taxi)

los_angeles_basket = fa.get_data(34.085749, -118.343791,url_query,*queries_basket)

los_angeles_starbucks = fa.get_data(34.085749, -118.343791,url_query,*queries_starbucks)

In [27]:
los_angeles_vegan = los_angeles_vegan.get("Vegan Restaurant").get("response").get("groups")[0].get("items")
los_angeles_nursery = los_angeles_nursery.get("Nursery School").get("response").get("groups")[0].get("items")
los_angeles_bar = los_angeles_bar.get("Nightclub").get("response").get("groups")[0].get("items")
los_angeles_taxi = los_angeles_taxi.get("Taxi Stand").get("response").get("groups")[0].get("items")
los_angeles_basket = los_angeles_basket.get("Basketball Court").get("response").get("groups")[0].get("items")
los_angeles_starbucks = los_angeles_starbucks.get("Starbucks").get("response").get("groups")[0].get("items")

### Creating dataframes

In [28]:
df_LA_vegan = fa.crear_dataframe(los_angeles_vegan)
df_LA_vegan = (df_LA_vegan.assign(categoria= "vegan"))

In [29]:
df_LA_nursery = fa.crear_dataframe(los_angeles_nursery)
df_LA_nursery = (df_LA_nursery.assign(categoria= "nursery"))

In [30]:
df_LA_bar = fa.crear_dataframe(los_angeles_bar)
df_LA_bar = (df_LA_bar.assign(categoria= "bar"))

In [31]:
df_LA_taxi = fa.crear_dataframe(los_angeles_taxi)
df_LA_taxi = (df_LA_taxi.assign(categoria= "taxi"))

In [32]:
df_LA_basket = fa.crear_dataframe(los_angeles_basket)
df_LA_basket = (df_LA_basket.assign(categoria= "basket"))

In [33]:
df_LA_starbucks = fa.crear_dataframe(los_angeles_starbucks)
df_LA_starbucks = (df_LA_starbucks.assign(categoria= "Starbucks"))

### Concatenate dataframes

In [34]:
df_concat_LA =  pd.concat([df_LA_vegan,df_LA_nursery,df_LA_bar,df_LA_taxi,df_LA_basket,df_LA_starbucks], ignore_index=True)

### Cleaning dataframes

In [35]:
df_LA = fa.clean_dataframes(df_concat_LA,"Los_Angeles")
df_LA

categoria    Starbucks  bar  basket  nursery  taxi  vegan
Los_Angeles         51   69      36       18     2     39

## REDWOOD CITY

In [36]:
redwood_vegan = fa.get_data(37.477652, -122.223384,url_query,*queries_vegan)

redwood_nursery = fa.get_data(37.477652, -122.223384,url_query,*queries_nursery)

redwood_bar = fa.get_data(37.477652, -122.223384,url_query,*queries_bar)

redwood_taxi = fa.get_data(37.477652, -122.223384,url_query,*queries_taxi)

redwood_basket = fa.get_data(37.477652, -122.223384,url_query,*queries_basket)

redwood_starbucks = fa.get_data(37.477652, -122.223384,url_query,*queries_starbucks)

In [37]:
redwood_vegan = redwood_vegan.get("Vegan Restaurant").get("response").get("groups")[0].get("items")
redwood_nursery = redwood_nursery.get("Nursery School").get("response").get("groups")[0].get("items")
redwood_bar = redwood_bar.get("Nightclub").get("response").get("groups")[0].get("items")
redwood_taxi = redwood_taxi.get("Taxi Stand").get("response").get("groups")[0].get("items")
redwood_basket = redwood_basket.get("Basketball Court").get("response").get("groups")[0].get("items")
redwood_starbucks = redwood_starbucks.get("Starbucks").get("response").get("groups")[0].get("items")

### Creating dataframes

In [38]:
df_redwood_vegan = fa.crear_dataframe(redwood_vegan)
df_redwood_vegan = (df_redwood_vegan.assign(categoria= "vegan"))

In [39]:
df_redwood_nursery = fa.crear_dataframe(redwood_nursery)
df_redwood_nursery = (df_redwood_nursery.assign(categoria= "nursery"))

In [40]:
df_redwood_bar = fa.crear_dataframe(redwood_bar)
df_redwood_bar = (df_redwood_bar.assign(categoria= "bar"))

In [41]:
df_redwood_taxi = fa.crear_dataframe(redwood_taxi)
df_redwood_taxi = (df_redwood_taxi.assign(categoria= "taxi"))

In [42]:
df_redwood_basket = fa.crear_dataframe(redwood_basket)
df_redwood_basket = (df_redwood_basket.assign(categoria= "basket"))

In [43]:
df_redwood_starbucks = fa.crear_dataframe(redwood_starbucks)
df_redwood_starbucks = (df_redwood_starbucks.assign(categoria= "Starbucks"))

### Concatenate dataframes

In [44]:
df_concat_redwood =  pd.concat([df_redwood_vegan,df_redwood_nursery,df_redwood_bar,df_redwood_taxi,df_redwood_basket,df_redwood_starbucks], ignore_index=True)

### Cleaning dataframes

In [45]:
df_redwood = fa.clean_dataframes(df_concat_redwood,"Redwood")
df_redwood

categoria  Starbucks  bar  basket  nursery  taxi  vegan
Redwood           50   21      25       13     1      9

## SUNNYVALE

In [46]:
sunnyvale_vegan = fa.get_data(37.4123706, -122.0216271,url_query,*queries_vegan)

sunnyvale_nursery = fa.get_data(37.4123706, -122.0216271,url_query,*queries_nursery)

sunnyvale_bar = fa.get_data(37.4123706, -122.0216271,url_query,*queries_bar)

sunnyvale_taxi = fa.get_data(37.4123706, -122.0216271,url_query,*queries_taxi)

sunnyvale_basket = fa.get_data(37.4123706, -122.0216271,url_query,*queries_basket)

sunnyvale_starbucks = fa.get_data(37.4123706, -122.0216271,url_query,*queries_starbucks)

In [47]:
sunnyvale_vegan = sunnyvale_vegan.get("Vegan Restaurant").get("response").get("groups")[0].get("items")
sunnyvale_nursery = sunnyvale_nursery.get("Nursery School").get("response").get("groups")[0].get("items")
sunnyvale_bar = sunnyvale_bar.get("Nightclub").get("response").get("groups")[0].get("items")
sunnyvale_taxi = sunnyvale_taxi.get("Taxi Stand").get("response").get("groups")[0].get("items")
sunnyvale_basket = sunnyvale_basket.get("Basketball Court").get("response").get("groups")[0].get("items")
sunnyvale_starbucks = sunnyvale_starbucks.get("Starbucks").get("response").get("groups")[0].get("items")

### Creating dataframes

In [48]:
df_sunnyvale_vegan = fa.crear_dataframe(sunnyvale_vegan)
df_sunnyvale_vegan = (df_sunnyvale_vegan.assign(categoria= "vegan"))

df_sunnyvale_nursery = fa.crear_dataframe(sunnyvale_nursery)
df_sunnyvale_nursery = (df_sunnyvale_nursery.assign(categoria= "nursery"))

df_sunnyvale_bar = fa.crear_dataframe(sunnyvale_bar)
df_sunnyvale_bar = (df_sunnyvale_bar.assign(categoria= "bar"))

df_sunnyvale_taxi = fa.crear_dataframe(sunnyvale_taxi)
df_sunnyvale_taxi = (df_sunnyvale_taxi.assign(categoria= "taxi"))

df_sunnyvale_basket = fa.crear_dataframe(redwood_basket)
df_sunnyvale_basket = (df_sunnyvale_basket.assign(categoria= "basket"))

df_sunnyvale_starbucks = fa.crear_dataframe(redwood_starbucks)
df_sunnyvale_starbucks = (df_sunnyvale_starbucks.assign(categoria= "Starbucks"))

### Concatenate dataframes

In [49]:
df_concat_sunnyvale =  pd.concat([df_sunnyvale_vegan,df_sunnyvale_nursery,df_sunnyvale_bar,df_sunnyvale_taxi,df_sunnyvale_basket,df_sunnyvale_starbucks], ignore_index=True)

### Cleaning dataframes

In [50]:
df_sunnyvale = fa.clean_dataframes(df_concat_sunnyvale,"Sunnyvale")
df_sunnyvale

categoria  Starbucks  bar  basket  nursery  taxi  vegan
Sunnyvale         50   24      25        6     3     13

## Concatenate cities

In [51]:
df_concat = pd.concat([df_sanfrancisco,df_los_gatos,df_LA,df_redwood,df_sunnyvale])
df_concat

categoria      Starbucks  bar  basket  nursery  taxi  vegan
San_Francisco         50   49      24        8     5     20
Los_Gatos             64   23      43       11     3     58
Los_Angeles           51   69      36       18     2     39
Redwood               50   21      25       13     1      9
Sunnyvale             50   24      25        6     3     13

### Rating
We rate from 1-3 each category

In [52]:
df_score = fa.puntuacion(df_concat)

In [53]:
df_score["Score"] = (df_score["Starbucks"]*0.2)+(df_score["bar"]*0.1)+(df_score["basket"]*0.1)+(df_score["nursery"]*0.15)+(df_score["taxi"]*0.3)+(df_score["vegan"]*0.15)
df_score

categoria      Starbucks  bar  basket  nursery  taxi  vegan  Score
San_Francisco          1    3       1        1     3      2   1.95
Los_Gatos              3    2       3        2     2      3   2.45
Los_Angeles            2    3       2        3     1      3   2.10
Redwood                1    2       1        2     1      1   1.25
Sunnyvale              1    2       1        1     2      2   1.55

Guardamos el dataframe

In [54]:
df_concat_gatos.to_csv("Output/df_concat_gatos.csv")